{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">

        <div class="row d-flex justify-content-center gap-3">
            <h4 class="text-center mb-3">Details</h4>
            <!-- Left -->
            <div class="col-md-5 bg-light p-4 shadow-sm rounded">

                <ul class="list-unstyled">
                    <li class="mb-4 "><strong>Nom de la sortie:</strong> {{ sortie_detail.nom }}</li>
                    <li class="mb-4"><strong>Date et heure de la sortie:</strong> {{ sortie_detail.dateHeureDebut|date('Y-m-d H:i') }}</li>
                    <li class="mb-4"><strong>Date limite d'inscription:</strong> {{ sortie_detail.dateLimiteInscription|date('Y-m-d H:i') }}</li>
                    <li class="mb-4 "><strong>Nombre de places:</strong> {{ sortie_detail.nbInscriptionMax }}</li>
                    <li class="mb-4 "><strong>Campus:</strong> {{ sortie_detail.duree }}</li>
                    <li class="mb-4 "><strong>Campus:</strong> {{ sortie_detail.infosSortie }}</li>
                </ul>

            </div>

            <!-- Right -->
            <div class="col-md-5 bg-light p-4 shadow-sm rounded">

                <ul class="list-unstyled">
                    <li class="mb-4 "><strong>Campus:</strong> {{ sortie_detail.campus.nom }}</li>
                    <li class="mb-4 "><strong>Lieu:</strong> {{ sortie_detail.lieu.nom }}</li>
                    <li class="mb-4 "><strong>Rue:</strong> {{ sortie_detail.lieu.rue }}</li>
                   {# <li class="mb-4 "><strong>Code postal:</strong> {{ sortie_detail.ville.codePostal }}</li>
                    <li class="mb-4 "><strong>Latitude:</strong> {{ sortie_detail.lieu.latitude }}</li>
                    <li class="mb-4 "><strong>Longitude:</strong> {{ sortie_detail.lieu.longitude }}</li>#}

                </ul>
                <a href="{{ path('app_home') }}" class="btn btn-dark btn-block mt-3">Retour</a>
            </div>
        </div>

    </div>

{% endblock %}


