{% extends 'admin/dashboard_base.html.twig' %}
{% block aside %}
    <!-- Participant Table -->
                    <div class="mb-5 ">
                        <h2 class="text-center mb-4">List Participants</h2>
                        <table class="table table-bordered table-striped ">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Pseudo</th>
                                <th>Rôle</th>
                                <th>Image</th>
                                <th>Modifier</th>
                                <th>Suprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participant in participants %}
                                {% if 'ROLE_USER' in participant.roles %}
                                    <tr>
                                        <td>{{ participant.nom }}</td>
                                        <td>{{ participant.prenom }}</td>
                                        <td>{{ participant.email }}</td>
                                        <td>{{ participant.telephone }}</td>
                                        <td>{{ participant.pseudo }}</td>
                                        <td>{{ 'User' }}</td>
                                        <td>
                                            <img src="{{ asset('uploads/images/' ~ participant.filename) }}"
                                                 class="img-fluid border-3 mb-3 shadow-sm rounded-circle"
                                                 alt="Participant Image"
                                                 style="width: 30px; height: 30px;">
                                        </td>
                                   <td><a href="{{ path('app_participant_modifier', { 'id': participant.id }) }}" class="btn btn-primary">  >>> </a></td>
                                        <td> <a href="{{ path('app_participant_delete', { 'id': participant.id }) }}" class="btn btn-danger">---</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">


                    </div>
                    <!-- Admin Table -->
                    <div class="col-12 table-responsive">
                        <h2 class="text-center mb-4">List Admin</h2>
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th>Pseudo</th>
                                <th>Rôle</th>
                                <th>Image</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for participant in participants %}
                                {% if 'ROLE_ADMIN' in participant.roles %}
                                    <tr>
                                        <td>{{ participant.nom }}</td>
                                        <td>{{ participant.prenom }}</td>
                                        <td>{{ participant.email }}</td>
                                        <td>{{ participant.telephone }}</td>
                                        <td>{{ participant.pseudo }}</td>
                                        <td>{{ 'Admin' }}</td>
                                        <td>
                                            <img src="{{ asset('uploads/images/' ~ participant.filename) }}"
                                                 class="img-fluid border-3 mb-3 shadow-sm rounded-circle"
                                                 alt="Admin Image"
                                                 style="width: 30px; height: 30px;">
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
{% endblock %}
