{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">

        <div class="row d-flex justify-content-center gap-3">
            <!-- Left -->
            <div class="col-md-4 text-center mb-4 p-4  rounded">
                <img src="{{ asset('uploads/images/' ~ participant_detail.filename) }}"
                     class="img-fluid rounded-circle mb-3 shadow-sm"
                     alt="Participant Image"
                     style="width: 150px; height: 150px; border: 5px solid #fff;">
                <h3 class="text-primary">{{ participant_detail.pseudo }}</h3>
            </div>

            <!-- Right -->
            <div class="col-md-6 bg-light p-4 shadow-sm rounded">
                <h4 class="text-muted mb-3">Détails</h4>
                <ul class="list-unstyled">
                    <li class="mb-4 "><strong>Prénom:</strong> {{ participant_detail.prenom }}</li>
                    <li class="mb-4 "><strong>Nom:</strong> {{ participant_detail.nom }}</li>
                    <li class="mb-4 "><strong>Téléphone:</strong> {{ participant_detail.telephone }}</li>
                    <li class="mb-4 "><strong>Email:</strong> {{ participant_detail.email }}</li>
                    <li class="mb-4 "><strong>Campus:</strong> {{ participant_detail.campus.nom }}</li>
                </ul>
                <a href="{{ path('app_home') }}" class="btn btn-custom btn-block mt-3">Retour</a>
            </div>
        </div>

    </div>

{% endblock %}


